---
title: Midwest Medicare Plans - Subtitle
layout: default
bodyClass: page-home
heading: Midwest<br />Medicare<br />Plans
description: Our business assists clients with knowledge and understanding of insurance
  plans (risk transfer products) for out of pocket costs of their healthcare services.<br
  /><br />We offer advice on&colon;
plans: false
services: true
highlights: false
features: false
---

<div class="intro pb-4">
  <div class="container">
    <h1>{{ page.heading }}</h1>
    <p>{{ page.description }}</p>
    <ul>
      {% for plan in site.plans %}
        <li><a href="{{site.baseurl}}{{ plan.url }}" title="{{ plan.description }}">{{ plan.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
      <div class="call-email"><strong>Email: </strong>
        <a href="mailto:{{ site.data.contact.email }}?subject={{ site.data.contact.subject }}">
          {{ site.data.contact.email }}
        </a>
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="{{site.baseurl}}/contact" class="button">Contact</a>
    </div>
  </div>
</div>

{% if page.plans %}}
<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Our Plans</h2>
    </div>
    {% for plan in site.plans limit:6 %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ plan.url }}">{{ plan.title }}</a>
          </h2>
          {{ plan.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/plans">View All Plans</a>
    </div>
  </div>
</div>
{% endif %}

{% if page.services %}
<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Available Services</h2>
    </div>
    {% for service in site.services limit:6 %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/services">View All Services</a>
    </div>
  </div>
</div>
{% endif %}

{% if page.highlights %}
<div class="container pt-5 pt-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Our Services</h2>
    </div>
    {% for highlight in site.data.highlights limit:3 %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if highlight.image %}<div class="feature-image"><img alt="{{ highlight.title }} logo" src="{{ highlight.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ highlight.title }}</h2>
        <div class="feature-content">{{ highlight.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if page.features %}
<div class="container pt-5 pt-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Our Features</h2>
    </div>
    {% for feature in site.data.features limit:3 %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="container pb-5 pb-md-7 spacer"></div>