<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li><strong>Phone: </strong>{{ site.data.contact.phone }}</li>
            <li><strong>Email: </strong><a href="mailto:{{ site.data.contact.email }}?subject={{ site.data.contact.subject }}">
                {{ site.data.contact.email }}</a></li>
          </ul>
          <ul>
            <li>Designed by <a href="https://www.zerostatic.io">www.zerostatic.io</a>.</li>
            <li>Maintained by <a href="https://insource.io">InSource.io</a>.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="text-center text-muted mt-2">This is a solicitation of insurance. Not endorsed by the federal Medicare program or the U.S. Government.</p>